/* font-face me permite utilizar una fuente externa de un archivo y funciona para poner un alias e indicar la ubicacion de mi archivo de fuente */
@font-face{
  font-family: 'cameo'; /* alias */
  src: url(./cameo.otf); /*ubicacion */
}

.familia{
  /* le puedo poner varios tipos de fuente si no encuentra */
  font-family:'cameo', Arial, Helvetica, sans-serif;
}
/* se pone en '' cuando vamos a utilizar un estilo externo (url) y tambien cuando el nombre se encuentra separado por espacio*/
.google{font-family: 'Open Sans', sans-serif;
  /* el grosor de la fuente(letra) */
  font-weight: 800;

}