body{
  background-color: wheat;
}

.color-solido{
  background-color: teal;
  width: 500px;
  height: 500px;
}

.gradiente{
  width: 800px;
  height: 400px;
  background-image: linear-gradient(
    /* to top right,  */
    135deg,
    yellow, 
    green, 
    blue, 
    pink);
}

.peru{
  width: 800px;
  height: 400px;
  background-image: linear-gradient(
    90deg, red, white, white, red
  );
}